body{
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	.wrapper{
		max-width: 1280px;
		margin: 0 auto;
	}
	.row.no-gutters {
	  margin-right: 0;
	  margin-left: 0;
	}
	.row.no-gutters > [class^="col-"],
	.row.no-gutters > [class*=" col-"] {
	  padding-right: 0;
	  padding-left: 0;
	}
	.reset{
		&--list{
			padding: 0;
			margin: 0;
			list-style: none;
		}
	}
	@media (min-width: $screen-sm-min) {
		.row-eq-height {
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display:         flex;
		}	
	}
}
